@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --highlight: #D5FF40;
  --background: #171717;
}

body {
  color: black;
  height: 100vh;
  position: relative; /* Add a relative position to the body */
  background: var(--background);
}

.mask {
  -webkit-mask-image: linear-gradient( white 50%, white 50%);
  mask-image: linear-gradient(white 50%, white 50%);
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
}